<div>
    <nav class="navbar navbar-dark navbar-expand-md bg-dark">
        <a class="navbar-brand logo" routerLink="/">
            <img src="../../../content/images/fob_logo.png" class="img-fluid">
            <span class="navbar-title">STACK</span>
        </a>
    </nav>
</div>
<div class="container-fluid">
    <div class="card jh-card">
        <router-outlet></router-outlet>
    </div>
</div>