<section class="stack-container">
    <hr>
    <div class="row justify-content-center">
        <div class="col-auto">
            <h2>Stack Simulation</h2>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-auto">
            <ul class="list-group">
                <li class="list-group-item">1. Initialize Stack using 'Initialize' button bellow</li>
                <li class="list-group-item">2. Push values to the Stack using 'Push button'</li>
                <li class="list-group-item">3. Pop elements from the Stack using button 'Pop'</li>
                <li class="list-group-item">4. Reset Stack using button 'Reset'</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-auto" *ngIf="this.stack === undefined">
            <button class="btn btn-success" (click)="initStack()">Initialize</button>
        </div>
        <div class="col-auto" *ngIf="this.stack !== undefined">
            <label>Action: </label>
            <button class="btn btn-info btn-sm" (click)="initStack()">Reset</button>
            <button class="btn btn-outline-danger btn-sm" (click)="popFromStack()"
                [disabled]="this.stack.length === 0">Pop</button>
            <div class="push-control">
                <button class="btn btn-outline-success btn-sm" (click)="pushToStack()"
                    [disabled]="valueToPush === undefined || isNotCorrectValue()">Push</button>
                <input type="text" class="form-control form-control-sm" placeholder="Value..."
                    [(ngModel)]="valueToPush">
            </div>
        </div>
    </div>
    <hr class="sector-separator">
    <div class="row justify-content-center" *ngIf="this.stack !== undefined">
        <div class="col-auto">
            <h3>Stack</h3>
            <hr>
            <div class="stack-element" *ngFor="let element of this.stack">
                <span>
                    {{element}}
                </span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" *ngIf="this.stack !== undefined && this.stack.length === 0">
        <div class="col-auto">
            Oops...stack is empty. But you still may to add there something...
        </div>
    </div>
</section>