/* ==========================================================================
Main page styles
========================================================================== */

.welcome-logo-img {
    height: 100%;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    background: url('../../content/images/fob_logo.png') no-repeat center center;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {}

.stack-container {
    min-height: 100vh;
}

.stack-element {
    text-align: center;
}

.push-control {
    margin-left: 3%;
    display: inline-flex;
    position: absolute;
    @media screen and (max-width: 600px) {
        display: inline-block;
    }
}

.sector-separator {
    @media screen and (max-width: 600px) {
        margin-top: 50px;
    }
}